# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run
README.txt
Paulscode SoundSystem CodecIBXM License.txt
Paulscode IBXM Library License.txt
MinecraftForge-Credits.txt
LICENSE-new.txt
gradlew.bat
gradlew
gradle/wrapper/gradle-wrapper.properties
gradle/wrapper/gradle-wrapper.jar
gradle.properties
CREDITS-fml.txt
